<a href="https://colab.research.google.com/github/03dipak/ML-Basic-Project/blob/master/fifa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-2/master/Projects/FIFA%202018%20Statistics.csv",sep=",")
df.head(10)

         Date          Team  ... Own goals  Own goal Time
0  14-06-2018        Russia  ...       NaN            NaN
1  14-06-2018  Saudi Arabia  ...       NaN            NaN
2  15-06-2018         Egypt  ...       NaN            NaN
3  15-06-2018       Uruguay  ...       NaN            NaN
4  15-06-2018       Morocco  ...       1.0           90.0
5  15-06-2018          Iran  ...       NaN            NaN
6  15-06-2018      Portugal  ...       NaN            NaN
7  15-06-2018         Spain  ...       NaN            NaN
8  16-06-2018        France  ...       NaN            NaN
9  16-06-2018     Australia  ...       1.0           81.0

[10 rows x 27 columns]

In [3]:
df.shape

(128, 27)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 27 columns):
Date                      128 non-null object
Team                      128 non-null object
Opponent                  128 non-null object
Goal Scored               128 non-null int64
Ball Possession %         128 non-null int64
Attempts                  128 non-null int64
On-Target                 128 non-null int64
Off-Target                128 non-null int64
Blocked                   128 non-null int64
Corners                   128 non-null int64
Offsides                  128 non-null int64
Free Kicks                128 non-null int64
Saves                     128 non-null int64
Pass Accuracy %           128 non-null int64
Passes                    128 non-null int64
Distance Covered (Kms)    128 non-null int64
Fouls Committed           128 non-null int64
Yellow Card               128 non-null int64
Yellow & Red              128 non-null int64
Red                       128 non-null int64
Man of the Match          128 non-null object
1st Goal                  94 non-null float64
Round                     128 non-null object
PSO                       128 non-null object
Goals in PSO              128 non-null int64
Own goals                 12 non-null float64
Own goal Time             12 non-null float64
dtypes: float64(3), int64(18), object(6)
memory usage: 27.1+ KB

In [5]:
df.drop(columns=['Own goals','Own goal Time'],inplace=True)
df.head()

         Date          Team      Opponent  ...        Round  PSO  Goals in PSO
0  14-06-2018        Russia  Saudi Arabia  ...  Group Stage   No             0
1  14-06-2018  Saudi Arabia        Russia  ...  Group Stage   No             0
2  15-06-2018         Egypt       Uruguay  ...  Group Stage   No             0
3  15-06-2018       Uruguay         Egypt  ...  Group Stage   No             0
4  15-06-2018       Morocco          Iran  ...  Group Stage   No             0

[5 rows x 25 columns]